@model OrderCreateViewModel 
@{
    ViewBag.HeaderClass = "white-header";
    Restaurant restaurant = ViewBag.Restaurant;

    //Find if restaurant has campaign
    bool hasCampaign = false;
    if (restaurant.CampaignId != null && !restaurant.Campaign.IsDeleted && restaurant.Campaign.ExpireDate >= DateTime.Now)
    {
        hasCampaign = true;
    }
} 

    <!-- ORDER SECTION -->
    <main class="order py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="order-form-box">
                        <div class="order-box-header">
                            <h3>Personal Details</h3>
                        </div>
                        <div class="order-box-body">
                            <div class="row">
                                <form method="post" id="create-order" class="post-form">
                                    <div class="form-group mb-3">
                                        <label asp-for="Fullname" class="d-block">First and Last Name</label>
                                        <input asp-for="Fullname" class="form-control" placeholder="First and Last Name" autocomplete="off">
                                        <div class="text-danger" asp-validation-for="Fullname"></div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Phone" class="d-block">Phone</label>
                                        <input asp-for="Phone" class="form-control" placeholder="Phone" autocomplete="off">
                                        <div class="text-danger" asp-validation-for="Phone"></div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Address" class="d-block">Full Address</label>
                                        <input asp-for="Address" class="form-control" placeholder="Full Address" autocomplete="off">
                                        <div class="text-danger" asp-validation-for="Address"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label asp-for="City" class="d-block">City</label>
                                            <input asp-for="City" class="form-control" placeholder="City" autocomplete="off">
                                            <div class="text-danger" asp-validation-for="City"></div>
                                        </div>
                                        <div class="form-group col-md-3 mb-3">
                                            <label asp-for="PostalCode" class="d-block">Postal Code</label>
                                            <input asp-for="PostalCode" class="form-control" placeholder="AZ0000" autocomplete="off">
                                            <div class="text-danger" asp-validation-for="PostalCode"></div>
                                        </div>
                                    </div>
                                </form>         
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="sidebar">
                        <div class="order-header">
                            <h3>Order Summary</h3>
                            <span>@restaurant.Name</span>
                        </div>
                        <div class="order-body p-3">
                            <div class="order-details">
                                <ul class="list-group pb-4">
                                    @if (Model.DeliveryDate != null)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="d-inline-block">Date</span>
                                            <span class="d-inline-block">@Model.DeliveryDate @(Model.DeliveryDate.ToLower()=="today"?DateTime.Today.ToString("dd/MM/yyyy"):DateTime.Today.AddDays(1).ToString("dd/MM/yyyy"))</span>
                                        </li>
                                    }
                                    @if (Model.DeliveryTime != null)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="d-inline-block">Hour</span>
                                            <span class="d-inline-block">@Model.DeliveryTime</span>
                                        </li>
                                    }
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span class="d-inline-block">Type</span>
                                        <span class="d-inline-block">@Model.DeliveryType</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="order-list pt-4">
                                <ul class="list-group">
                                    @foreach (var item in Model.BasketItems)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <a class="d-inline-block">
                                                <span>@item.Count x @item.Meal.Name</span>
                                            </a>
                                            <span class="d-inline-block">$@(Math.Round(item.Count*(hasCampaign?(double)item.Meal.DiscountedPrice:item.Meal.Price),1))</span>
                                        </li>
                                        @if (item.Size != null)
                                        {
                                            <li class="list-group-item d-flex justify-content-between pt-0 ms-4">
                                                <small style="color: #444;">@item.Meal.MealSizes.Select(x => x.Size).FirstOrDefault(x => x.Id == item.Size.Id).Name</small>
                                                <small style="color: #444;" class="d-inline-block">+ $@(item.Count*item.Meal.MealSizes.Select(x => x.Size).FirstOrDefault(x => x.Id == item.Size.Id).ExtraCharge)</small>
                                            </li>

                                        }
                                    }
                                </ul>
                            </div>
                            <div class="charges mt-3">
                                <ul class="list-group">
                                    @if (Model.DeliveryType.ToUpper() == "DELIVERY")
                                    { 
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="d-inline-block">Subtotal</span>
                                            <span class="d-inline-block">$@Model.SubTotalPrice</span>
                                        </li>
                                        <li class="delivery-fee list-group-item d-flex justify-content-between">
                                            <span class="d-inline-block">Delivery fee</span>
                                            <span class="d-inline-block">$@restaurant.DeliveryFee</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="d-inline-block">TOTAL</span>
                                            <span class="d-inline-block">$@(Model.SubTotalPrice+restaurant.DeliveryFee)</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="d-inline-block">TOTAL</span>
                                            <span class="d-inline-block">$@Model.SubTotalPrice</span>
                                        </li>
                                    }
                                </ul>                                
                            </div>
                            <div class="order-btn px-3">
                                    <button type="submit" class="submit" form="create-order">Order Now</button>
                                    <div class="m-0 p-0">
                                        <small>Or Call Us at 0432 48432854</small>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
